* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #CFD0CF;
}

header {
	font: bold 42px/47px Arial;
	color: #434344;
	padding: 40px 0;
	text-align: center;
	cursor: default;
}

header::selection {
	background: transparent;
}

header, .card, .timer, .label, .restart-button {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	height: 465px;
	margin: 0 auto;

	perspective: 600px;
}

.card {
	width: 130px;
	height: 130px;
	margin: 0 25px 25px 0;
	color: rgba(0, 0, 0, 0.0);
	position: relative;
	border-radius: 9px;

	transform-style: preserve-3d;
	transition: transform 0.4s;
	cursor: pointer;
}

.card.flip {
	transform: rotateY(180deg);
	cursor: default;
}

.back {
	width: 100%;
	height: 100%;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 9px;
	background: linear-gradient(to top right, #22AB93, #19668D);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	backface-visibility: hidden;
}

.front {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	color: #000;
	font: bold 75px Arial;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	backface-visibility: hidden;
	background: #fff;
	transform: rotateY(180deg);
}

.front.red-illumination {
	background: #F44336;
}

.front.green-illumination {
	background: #5AD66F;
}

.front::selection {
	background: transparent;
}

.timer {
	font: bold 32px/36px Arial;
	color: #434344;
	margin: 5px 0 0;
	text-align: center;
	cursor: default;
}

.popup {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: .3s all;
	z-index: 10;
}

.modal {
	opacity: 1;

	width: 30%;
	min-width: 350px;

	display: flex;
	flex-direction: column;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;

	background-color: #fff;
}

.restart-button {
	height: 40px;
	display: flex;
	align-items: center;
	align-self: center;

	font: bold 20px Arial;
	color: #fff;
	text-align: center;
	border-radius: 9px;
	background: linear-gradient(to left, #22AB93, #19668D);
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);

	margin: 0 0 30px;
	padding: 0 30px;
}

.restart-button:active {
	box-shadow: inset 2px 1px 8px rgba(0,0,0,.5);
}

.restart-button:hover {
	cursor: pointer;
}

.visible {
	opacity: 1;
	visibility: visible;
	display: flex;
}

.label {
	font: bold 48px/47px Arial;
	color: #434344;
	margin: 30px 0 40px;
	text-align: center;
	cursor: default;

	display: none;

}


.label.visible {
	display: block;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  5%   {transform: translate3d(0,0,0) scale3d(.9,1.05,1);}
  40%  {transform: translate3d(0,45%,0) scale3d(.7,1.2,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.2,.7,1);}
}

span {
	display: inline-block;
}

.label > span {
	animation: jump .7s linear alternate infinite;
}


.label > span:nth-child(2) {
		animation-delay: .1s;
	}
.label > span:nth-child(3) {
		animation-delay: .2s;
	}
.label > span:nth-child(4) {
		animation-delay: .3s;
	}